__pycache__/
*.py[cod]
node_modules/
dist/
.env
.env.local
.vscode/
.idea/
*.log
.pytest_cache/
htmlcov/
*.db
uploads/

frontend:-npm run dev
backend : conda activate xmlgenie
          docker-compose up -d db
          uvicorn app.main:app --port 5000